<!--{block content}-->
<!--{subtemplate common/upload}-->

<script type="text/javascript" src="source/plugin/qiniu/template/maile_upload.js"></script>
<script>

var upload = new SWFUpload({
	upload_url: "",
	file_types : "$swfconfig[attachexts][ext]",
	file_types_description : "$swfconfig[attachexts][depict]",
	file_upload_limit : $swfconfig['limit'],

	custom_settings : {
		progressTarget : "fsUploadProgress",
		uploadSource: 'forum',
		uploadType: 'attach',
		<!--{if $swfconfig['maxsizeperday']}-->
		maxSizePerDay: $swfconfig['maxsizeperday'],
		<!--{/if}-->
		<!--{if $swfconfig['maxattachnum']}-->
		maxAttachNum: $swfconfig['maxattachnum'],
		<!--{/if}-->
		<!--{if $swfconfig['filtertype']}-->
		filterType: $swfconfig['filtertype'],
		<!--{/if}-->
		singleUpload: $('{$editorid}_btn_upload')
	},

	debug: false
});

var imgUpload = new SWFUpload({
	upload_url: "",
	file_types : "$swfconfig[imageexts][ext]",
	file_types_description : "$swfconfig[imageexts][depict]",
	file_upload_limit : $swfconfig['limit'],

	custom_settings: {
		progressTarget : "imgUploadProgress",
		uploadSource: 'forum',
		uploadType: 'image',
		imgBoxObj: $('imgattachlist'),
		<!--{if $swfconfig['maxsizeperday']}-->
			maxSizePerDay: $swfconfig['maxsizeperday'],
		<!--{/if}-->
		<!--{if $swfconfig['maxattachnum']}-->
			maxAttachNum: $swfconfig['maxattachnum'],
		<!--{/if}-->
		<!--{if $swfconfig['filtertype']}-->
			filterType: $swfconfig['filtertype'],
		<!--{/if}-->
		singleUpload: $('{$editorid}_btn_local')
	},

	debug: false
});

var maile_upload_config = {
	"max": "$swfconfig[max]",
	"hash": "$swfconfig[hash]",
	"imageext": "$swfconfig[imageexts][ext];",
	"attachext": "$swfconfig[attachexts][ext];",
	"lang": {
		"byte": "{lang qiniu:byte}",
		"uploadImg": "{lang qiniu:uploadImg}",
		"notExceed": "{lang qiniu:notExceed}",
		"onlyAllow": "{lang qiniu:onlyAllow}",
		"typeFile": "{lang qiniu:typeFile}",
		"uploadError": "{lang qiniu:uploadError}",
		"checkNetwork": "{lang qiniu:checkNetwork}"
	}
};

new maile_upload(0).init(document.getElementById("imgattach_notice").parentNode);
new maile_upload(1).init(document.getElementById("spanButtonPlaceholder").parentNode);

// 上传对话框
function uploadWindow(recall, type) {
	var type = isUndefined(type) ? 'image' : type;
	UPLOADWINRECALL = recall;
	showWindow('upload', 'plugin.php?id=qiniu:category', 'get', 0, {'zindex':601});
}

// 上传将开始
function uploadWindowstart(t){

	$('uploadwindowing').style.visibility = 'visible';

	var xhr = maile_upload.xhr();
	xhr.open("POST", "plugin.php?id=qiniu:token", true);
	xhr.onreadystatechange = function(){
		if(xhr.readyState == 4){
			if(xhr.status==200 && xhr.responseText){
				t.elements["token"].value = xhr.responseText;
				t.submit();
			}else{
				alert("{lang qiniu:checkNetwork}");
			}
		}
	}
	xhr.setRequestHeader("Content-Type","application/x-www-form-urlencoded");
	xhr.send("hash=$swfconfig[hash]&maile=2");

}

// 上传完毕
function uploadWindowload(t) {
	$('uploadwindowing').style.visibility = 'hidden';
	var str = t.contentWindow.document.body.innerHTML;
	if(str == '') return;
	var arr = str.split('|');
	if(arr[0] == 'DISCUZUPLOAD' && arr[2] == 0) {
		// arr: ["DISCUZUPLOAD", "1", "0", "9", "1", "FhE4a1YhJJRwQaeqn8X6FqjMyCyC.jpg!m", "1.jpg", "0"]
		var identifier = UPLOADWINRECALL.toString().split("sortaid_")[1].split("_upload")[0];
		$("sortaid_" + identifier + "_url").value = arr[5];
		updatesortattach(arr[3], arr[5], "{$_G[cache][plugin][qiniu][url]}".replace(/(\/$)/g,""), identifier);
		hideWindow('upload', 0);
	} else {
		var sizelimit = '';
		if(arr[7] == 'ban') {
			sizelimit = '({lang qiniu:typeBlocked})';
		} else if(arr[7] == 'perday') {
			sizelimit = '({lang qiniu:notExceed} ' + arr[8] + ' {lang qiniu:byte})';
		} else if(arr[7] > 0) {
			sizelimit = '({lang qiniu:notExceed} ' + arr[7] + ' {lang qiniu:byte})';
		}
		showError(STATUSMSG[arr[2]] + sizelimit);
	}
	if($('attachlimitnotice')) {
		ajaxget('forum.php?mod=ajax&action=updateattachlimit&fid=' + fid, 'attachlimitnotice');
	}
}

</script>

<!--{/block}-->